<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/stylesheet/normalize.css")
    link(rel="stylesheet", href="/stylesheet/style.css")
    title= title
  body
    section(class="wrapper")
      header(class="top")
        include snippet/navigation.pug
        div(class="wrap-introduce width_layout")
          div(class="aboutME")
            h2(class="subheading") about me
            p(class="description") You welcome message or "about me" text will go here. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, explicabo veniam! Earum natus dolorem blanditiis. Aliquid deserunt numquam nesciunt sed. Impedit expedita ipsam eligendi consectetur dicta eum velit rem. Sequi laudantium a, quibusdam repellat labore veritatis.
            p(class="description") Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut dolor consequuntur et. Ipsa ex, numquam minima fugiat quia aspernatur. Possimus nulla delectus perferendis, sunt atque voluptatibus exercitationem labore ab minima aliquid. Dolorem modi, officiis eos assumenda deserunt architecto, corporis laborum aliquam suscipit recusandae praesentium accusantium vero! Repudiandae dolores provident vero!
            p(class="description") Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat nemo cum reprehenderit assumenda nobis enim doloremque nesciunt repudiandae molestias voluptates.
          div(class="designer")
            h2(class="subheading") looking for a designer?
            p(class="description") I am available for freelance project. Modi, nesciunt? Sunt sed quod ex rerum inventore, vero quidem cum nihil minus hic itaque dignissimos consequatur, deleniti repudiandae possimus ducimus, eveniet maiores dolorum fuga repellat facere ea nemo provident? Hic porro pariatur fuga vel eveniet. Doloremque, laborum. Architecto repellat nemo nobis voluptatum officiis, corporis non perspiciatis quas neque maiores molestiae nesciunt ducimus aspernatur?
            div(class="border")
              div(class="folder") 
              div(class="text")
                p(class="description") Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa, quo. Sequi, ratione sit. Illum totam ut velit debitis. Ea amet, perferendis tempora voluptatibus magni voluptatum.
                p(class="description")
                  span email:
                  a(href="#" class="email-link") artm.orlov.88@list.ru
      main
        section(class="middle")
          div(class="wrap-for_examples width_layout")
            h2(class="subheading indent") my work
            div(class="gallery")
              div(class="gallery-item")
                div(class="border-screen")
                  a(href="#")
                    img(src="/images/compress/one.png" class="gallery-screen")
                p(class="sign-item")
                  span(class="sign-item-up") My Corporate Website
                  span(class="sign-item-down") Personal project from Octobe, 2009
              div(class="gallery-item")
                div(class="border-screen")
                  a(href="#")
                    img(src="/images/compress/two.png" class="gallery-screen")
                p(class="sign-item")
                  span(class="sign-item-up") John Doe Design Portfolio
                  span(class="sign-item-down") Personal project from Septemper, 2009
              div(class="gallery-item")
                div(class="border-screen")
                  a(href="#")
                    img(src="/images/compress/three.png" class="gallery-screen")
                p(class="sign-item")
                  span(class="sign-item-up") John Smith Design Portfolio
                  span(class="sign-item-down") Personal project from August, 2009
              div(class="gallery-item")
                div(class="border-screen")
                  a(href="#")
                    img(src="/images/compress/four.png" class="gallery-screen")
                p(class="sign-item")
                  span(class="sign-item-up") Project Title
                  span(class="sign-item-down") Project descrition and date
              div(class="gallery-item")
                div(class="border-screen")
                  a(href="#")
                    img(src="/images/compress/five.png" class="gallery-screen")
                p(class="sign-item")
                  span(class="sign-item-up") Project Title
                  span(class="sign-item-down") Project descrition and date
              div(class="gallery-item")
                div(class="border-screen")
                  a(href="#")  
                    img(src="/images/compress/six.png" class="gallery-screen")
                p(class="sign-item")
                  span(class="sign-item-up") Project Title
                  span(class="sign-item-down") Project descrition and date
              div(class="gallery-item")
                div(class="border-screen")
                  a(href="#")
                    img(src="/images/compress/seven.png" class="gallery-screen")
                p(class="sign-item")
                  span(class="sign-item-up") Project Title
                  span(class="sign-item-down") Project descrition and date
              div(class="gallery-item")
                div(class="border-screen")
                  a(href="#")
                    img(src="/images/compress/eight.png" class="gallery-screen")
                p(class="sign-item")
                  span(class="sign-item-up") Project Title
                  span(class="sign-item-down") Project descrition and date
              div(class="gallery-item")
                div(class="border-screen")
                  a(href="#")
                    img(src="/images/compress/nine.png" class="gallery-screen")
                p(class="sign-item")
                  span(class="sign-item-up") Project Title
                  span(class="sign-item-down") Project descrition and date
          div(class="wrap-services")
            ul(class="services-list width_layout")
              li(class="services-item")
                h2(class="services-subheading")
                  img(src="/images/compress/palette.png" class="services-icon")
                  span(class="services-title") services
                h3(class="services-subsubheading") Web Design
                p(class="services-text") Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod delectus, distinctio qui dolorem quas fuga, maxime ipsam tempore illo voluptates ratione consequuntur incidunt mollitia beatae odio ad. Assumenda.
                h3(class="services-subsubheading") Web Devolopment
                p(class="services-text") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque incidunt fugiat temporibus ab quibusdam eaque officiis, nisi earum? Nulla excepturi consequuntur perspiciatis nostrum qui, laboriosam corrupti sapiente quidem.
                h3(class="services-subsubheading") Graphic Design
                p(class="services-text") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque incidunt fugiat temporibus ab quibusdam eaque officiis, nisi earum? Nulla excepturi consequuntur perspiciatis nostrum qui, laboriosam corrupti sapiente quidem.
              li(class="services-item")
                h2(class="services-subheading")
                  img(src="/images/compress/twitter.png" class="services-icon")
                  span(class="services-title") tweets
                p(class="services-text indent") Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo aspernatur soluta dolores officia sit illo tenetur ullam fuga nobis voluptatum placeat deleniti, natus quisquam.
                p(class="services-text indent") Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo, tempore corporis maxime quisquam vel laborum fugit modi amet nisi voluptatum illum tempora necessitatibus corrupti.
                p(class="services-text indent") Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet est deleniti laboriosam qui, ducimus cumque, assumenda earum ipsum facere obcaecati hic dicta? Aut, ullam?
                p(class="services-text indent") Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quasi temporibus, modi nesciunt quia illum in eaque quod! Ullam, pariatur! Dolores, molestias necessitatibus! Commodi?
                p(class="services-text indent") Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ea quaerat sit minima quis inventore aliquam eligendi voluptas accusamus culpa! Labore laudantium sint nesciunt.
              li(class="services-item")
                h2(class="services-subheading")
                  img(src="/images/compress/mail.png" class="services-icon")
                  span(class="services-title") contact
                p(class="services-text indent") If you’re interested in getting a quote for a project or if you just have some questions, please email me with the details and I will get in touch with you as soon as possible. you can also find me on several social networking sites, my profiles are listed below.
                p(class="services-text indent") Email: 
                  a(href="#" class="email-link") artm.orlov.88@list.ru
                p(class="service-icon")
                  img(src="/images/compress/small_twitter.png")
                  a(href="#" class="icon-link") Twitter
                p(class="service-icon")
                  img(src="/images/compress/small_delicious.png")
                  a(href="#" class="icon-link") Delicious
                p(class="service-icon")
                  img(src="/images/compress/small_flickr.png")
                  a(href="#" class="icon-link") Flickr
              a(href="#" class="return_top") Return to top
      footer(class="bottom")
        section(class="wrap-bottom width_layout")
          p(class="copyright") Copyright Orlov Artem, 2020

