<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/stylesheet/normalize.css")
    link(rel="stylesheet", href="/stylesheet/style.css")
    title= title
  body
    section(class="wrapper")
      header(class="top")
        include snippet/navigation.pug
        include snippet/aboutMe.pug
      main
        section(class="middle")
          include snippet/example.pug
          include snippet/services.pug
      footer(class="bottom")
         include snippet/footer.pug