div(class="wrap-introduce width_layout")
  div(class="aboutME")
    h2(class="subheading") about me
    p(class="description") You welcome message or "about me" text will go here. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, explicabo veniam! Earum natus dolorem blanditiis. Aliquid deserunt numquam nesciunt sed. Impedit expedita ipsam eligendi consectetur dicta eum velit rem. Sequi laudantium a, quibusdam repellat labore veritatis.
    p(class="description") Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut dolor consequuntur et. Ipsa ex, numquam minima fugiat quia aspernatur. Possimus nulla delectus perferendis, sunt atque voluptatibus exercitationem labore ab minima aliquid. Dolorem modi, officiis eos assumenda deserunt architecto, corporis laborum aliquam suscipit recusandae praesentium accusantium vero! Repudiandae dolores provident vero!
    p(class="description") Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat nemo cum reprehenderit assumenda nobis enim doloremque nesciunt repudiandae molestias voluptates.
  div(class="designer")
    h2(class="subheading") looking for a designer?
    p(class="description") I am available for freelance project. Modi, nesciunt? Sunt sed quod ex rerum inventore, vero quidem cum nihil minus hic itaque dignissimos consequatur, deleniti repudiandae possimus ducimus, eveniet maiores dolorum fuga repellat facere ea nemo provident? Hic porro pariatur fuga vel eveniet. Doloremque, laborum. Architecto repellat nemo nobis voluptatum officiis, corporis non perspiciatis quas neque maiores molestiae nesciunt ducimus aspernatur?
    div(class="border")
      div(class="folder") 
      div(class="text")
        p(class="description") Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa, quo. Sequi, ratione sit. Illum totam ut velit debitis. Ea amet, perferendis tempora voluptatibus magni voluptatum.
        p(class="description")
          span email:
          a(href="#" class="email-link") artm.orlov.88@list.ru