div(class="wrap-for_examples width_layout")
  h2(class="subheading indent" id="works") my work
  div(class="gallery")
    each source in sources
      div(class="gallery-item")
        div(class="border-screen")
          a(href="#")
            img(src= source.src class="gallery-screen")
        p(class="sign-item")
          span(class="sign-item-up")= source.name
          span(class="sign-item-down")= source.description