nav(class="top-navigation")
  section(class="wrap-menu width")
    div(class="menu-label")
      h1(class="label-name") Orlov Artem
      p(class="label-sign") web design portfolio
    ul(class="navigation-menu")
      li
        a(href="#" class="menu-link") work
      li
        a(href="#" class="menu-link") services
      li
        a(href="#" class="menu-link") contact me