nav(class="top-navigation width_layout")
  section(class="wrap-menu width")
    div(class="menu-label")
      h1(class="label-name" id="top") Orlov Artem
      p(class="label-sign") web design portfolio
    ul(class="navigation-menu")
      li
        a(href="#works" class="menu-link") work
      li
        a(href="#services" class="menu-link") services
      li
        a(href="#contact" class="menu-link") contact me