div(class="wrap-services")
  ul(class="services-list width_layout")
    li(class="services-item")
      h2(class="services-subheading")
        img(src="/images/compress/palette.png" class="services-icon")
        span(class="services-title") services
      h3(class="services-subsubheading") Web Design
      p(class="services-text") Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod delectus, distinctio qui dolorem quas fuga, maxime ipsam tempore illo voluptates ratione consequuntur incidunt mollitia beatae odio ad. Assumenda.
      h3(class="services-subsubheading") Web Devolopment
      p(class="services-text") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque incidunt fugiat temporibus ab quibusdam eaque officiis, nisi earum? Nulla excepturi consequuntur perspiciatis nostrum qui, laboriosam corrupti sapiente quidem.
      h3(class="services-subsubheading") Graphic Design
      p(class="services-text") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque incidunt fugiat temporibus ab quibusdam eaque officiis, nisi earum? Nulla excepturi consequuntur perspiciatis nostrum qui, laboriosam corrupti sapiente quidem.
    li(class="services-item")
      h2(class="services-subheading")
        img(src="/images/compress/twitter.png" class="services-icon")
        span(class="services-title") tweets
      p(class="services-text indent") Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo aspernatur soluta dolores officia sit illo tenetur ullam fuga nobis voluptatum placeat deleniti, natus quisquam.
      p(class="services-text indent") Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo, tempore corporis maxime quisquam vel laborum fugit modi amet nisi voluptatum illum tempora necessitatibus corrupti.
      p(class="services-text indent") Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet est deleniti laboriosam qui, ducimus cumque, assumenda earum ipsum facere obcaecati hic dicta? Aut, ullam?
      p(class="services-text indent") Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quasi temporibus, modi nesciunt quia illum in eaque quod! Ullam, pariatur! Dolores, molestias necessitatibus! Commodi?
      p(class="services-text indent") Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ea quaerat sit minima quis inventore aliquam eligendi voluptas accusamus culpa! Labore laudantium sint nesciunt.
    li(class="services-item")
      h2(class="services-subheading")
        img(src="/images/compress/mail.png" class="services-icon")
        span(class="services-title") contact
      p(class="services-text indent") If you’re interested in getting a quote for a project or if you just have some questions, please email me with the details and I will get in touch with you as soon as possible. you can also find me on several social networking sites, my profiles are listed below.
      p(class="services-text indent") Email: 
        a(href="#" class="email-link") artm.orlov.88@list.ru
      p(class="service-icon")
        img(src="/images/compress/small_twitter.png")
        a(href="#" class="icon-link") Twitter
      p(class="service-icon")
        img(src="/images/compress/small_delicious.png")
        a(href="#" class="icon-link") Delicious
      p(class="service-icon")
        img(src="/images/compress/small_flickr.png")
        a(href="#" class="icon-link") Flickr
    a(href="#" class="return_top") Return to top